<div id="listUsersDesktop">
  <div class="filters">
    <span>Sort</span>
    <select class="form-control-sm">
        <option>First Name</option>
      </select>
      <select class="form-control-sm">
        <option>Country</option>
      </select>
      <select class="form-control-sm">
        <option>All category</option>
      </select>
      <select class="form-control-sm">
        <option>Select...</option>
      </select>
      <select class="form-control-sm">
        <option>Select...</option>
      </select>
  </div>
  
  <div class="headerList">
    <div class="selectAll">
      <input type="checkbox">
      <p>Select all</p>
      <span>3 selected</span>
    </div>
    <div class="pagination">
      ICI LE MODULE PAGINATION
    </div>
  </div>
  <div class="list">
    <app-user-card-desktop></app-user-card-desktop>
    <app-user-card-desktop></app-user-card-desktop>
    <app-user-card-desktop></app-user-card-desktop>
    <app-user-card-desktop></app-user-card-desktop>
    <app-user-card-desktop></app-user-card-desktop>
    <app-user-card-desktop></app-user-card-desktop>
    <app-user-card-desktop></app-user-card-desktop>
    <app-user-card-desktop></app-user-card-desktop>
    <app-user-card-desktop></app-user-card-desktop>
    <app-user-card-desktop></app-user-card-desktop>
    <app-user-card-desktop></app-user-card-desktop>
    <app-user-card-desktop></app-user-card-desktop>
    <app-user-card-desktop></app-user-card-desktop>
    <app-user-card-desktop></app-user-card-desktop>
    <app-user-card-desktop></app-user-card-desktop>
    <app-user-card-desktop></app-user-card-desktop>
    <app-user-card-desktop></app-user-card-desktop>
    <app-user-card-desktop></app-user-card-desktop>
    <app-user-card-desktop></app-user-card-desktop>
    <app-user-card-desktop></app-user-card-desktop>
    <app-user-card-desktop></app-user-card-desktop>
    <app-user-card-desktop></app-user-card-desktop>
    <app-user-card-desktop></app-user-card-desktop>
    <app-user-card-desktop></app-user-card-desktop>
  </div>
</div>