<div id="listUsersDesktop">
    <app-user-card-desktop></app-user-card-desktop>
    <app-user-card-desktop></app-user-card-desktop>
    <app-user-card-desktop></app-user-card-desktop>
    <app-user-card-desktop></app-user-card-desktop>
    <app-user-card-desktop></app-user-card-desktop>
    <app-user-card-desktop></app-user-card-desktop>
    <app-user-card-desktop></app-user-card-desktop>
    <app-user-card-desktop></app-user-card-desktop>
    <app-user-card-desktop></app-user-card-desktop>
    <app-user-card-desktop></app-user-card-desktop>
    <app-user-card-desktop></app-user-card-desktop>
    <app-user-card-desktop></app-user-card-desktop>
    <app-user-card-desktop></app-user-card-desktop>
    <app-user-card-desktop></app-user-card-desktop>
    <app-user-card-desktop></app-user-card-desktop>
    <app-user-card-desktop></app-user-card-desktop>
    <app-user-card-desktop></app-user-card-desktop>
    <app-user-card-desktop></app-user-card-desktop>
    <app-user-card-desktop></app-user-card-desktop>
    <app-user-card-desktop></app-user-card-desktop>
    <app-user-card-desktop></app-user-card-desktop>
    <app-user-card-desktop></app-user-card-desktop>
    <app-user-card-desktop></app-user-card-desktop>
    <app-user-card-desktop></app-user-card-desktop>
</div>