#listUsersDesktop{
    background-color: #EFEEE2;
    text-align: center;

}

.filters{
    display: flex;
    background-color: #eae5d5;
    padding: 25px;
    padding-left: 15%;
    select{
        margin-left: 10px;
        width: 150px;
        border-radius: 5%;
    }
}

.headerList{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    .selectAll{
        display: flex;
        margin-left: 20%;
        p{
            font-size: 16px;
            color: rgb(26, 24, 24);
            font-weight: 500;
            margin-left: 5px;
            margin-top: -5px;
        }
        span{
            font-size: 16px;
            color: rgb(110, 106, 106);
            margin-left: 10px;
            margin-top: -5px;
        }
    }
}