<div class="userCard">
<input type="checkbox"  (click)="userSelected()">
<div class="firstLineCard">
  <div class="userPart">
    <span class="badge badge-pill badge-success">C</span>
    <img src="../../assets/ellipsis-v.png" height="20px" width="20px">
    <h3>Bill Evans</h3>
  </div>
</div>

<div class="secondLinePart">
  <div class="companyPart">
    <h3>Appollo 13</h3>
    <p>Key Account Manager</p>        
  </div>
  <div class="contactPart">
    <img src="../../assets/mail@2x.png" width="30px" height="30px">
    <img src="../../assets/mail@2x.png" width="30px" height="30px">
  </div>
</div>

</div>


<!-----------   OLD VERSION ---------------------
<div class="userCard">
    <div class="firstLineCard">
      <div class="userPart">
        <input type="checkbox">
        <span class="badge badge-pill badge-success">C</span>
        <img src="../../assets/ellipsis-v.png" height="20px" width="20px">
        <h3>Bill Evans</h3>
      </div>
      <div class="badges">
        <span class="badge badge-pill badge-success"> VIP</span>
      </div>
    </div>
    
    <div class="secondLinePart">
      <div class="companyPart">
        <h3>Appollo 13</h3>
        <p><b>(DE)</b> Key Account Manager</p>        
      </div>
      <button type="button" (click)="displayHiddenPart()" class="iconDropdown">
        <img src="../../assets/dropdown.png" height="40px" width="40px">
      </button>
    </div>
  
    <div class="hiddenPart" *ngIf="hiddenPart">
      <hr>
      <p>+33 (0)6 58 78 69 63</p>
      <p>bill.evans@Appollo13.com</p>
      <div class="hiddenPartFooter">
        <p>Added <span>05/08/2019</span></p>
        <p>Modified <span>06/09/2019</span></p>
      </div>
    </div>
  </div>
   -->