
.userCard{
    border: 2px solid  rgb(207, 204, 204);;
    border-left: 5px solid #28a745;
    width: 95%;
    margin: 0 auto;
    .firstLineCard{
        padding-top: 5px;
        display: flex;
        justify-content: space-between;
        h3{
            color: rgb(105, 102, 102);
            font-size: 18px;
            text-decoration: underline;
            font-weight: bold;
        }
        .userPart{
            display: flex;
            input{
                margin-left: 5px;
            }
            .badge{
                height: 20px;
                margin-left: 10px; 
            }
            img{
                cursor: pointer;
            }
        }
        .badges{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            margin-right: 5px;
            span{
                margin-bottom: 2px;
            }
        }
    }
    .secondLinePart{
        display: flex;
        justify-content: space-between;
        padding-left: 5px;
        margin-top: 5px;
        h3{
            color: rgb(105, 102, 102);
            font-size: 16px;
            text-decoration: underline;
            font-weight: bold;
        }
        p{
            margin-top: -5px; 
            font-size: 12px;
        }
        .iconDropdown{
            display: flex;
            flex-direction: column-reverse;
            margin-right: 5px;
            margin-bottom: 10px;
        }
    }
    .hiddenPart{
        margin-top: -15px;
        hr{
            width: 80%;
        }
        p{
            font-size: 12px;
            margin-top: -10px;
            margin-left: 5px;

        }
    }
}


