<div class="userCard">
<input type="checkbox"  (click)="userSelected()">
<div class="firstLineCard">
  <div class="userPart">
    <span class="badge badge-pill badge-info">W</span>
    <img src="../../assets/ellipsis-v.png" height="20px" width="20px">
    <h3>Ella Fitzgerald</h3>
  </div>
</div>

<div class="secondLinePart">
  <div class="companyPart">
    <h3>Event Catalyst</h3>
    <p>--</p>        
  </div>
  <div class="contactPart">
    <img src="../../assets/mail@2x.png" width="30px" height="30px">
    <img src="../../assets/mail@2x.png" width="30px" height="30px">
  </div>
</div>

</div>
  