<div class="userCard">
  
  <div class="line1">

    <div class="block1">
      <div class="headerB1">
        <input type="checkbox">
        <span class="badge badge-pill badge-danger">Decl.</span>
        <img src="../../assets/ellipsis-v.png" height="20px" width="20px">
        <h3>Thelonious Monk</h3>
        <div class="badges">
          <span class="badge badge-pill badge-success">MAIN</span>
          <span class="badge badge-pill badge-success">VIP</span>
        </div>
      </div>
      <div class="bodyB1">
        <p>Lead Software Developer</p>
        <div class="userContact">
          <p>+33 (0)6 58 78 69 63</p>
          <p>thelonious.monk@microsoft.com</p>
        </div>
      </div>
    </div>

    <div class="block2">
      <div class="headerB2">
        <img src="../../assets/ellipsis-v.png" height="20px" width="20px">
        <h3>Microsoft</h3>
      </div>  
      <div class="bodyB2">
        <p>FR</p>
        <p class="phoneNb">+33 (0)6 58 78 69 63</p>
      </div>
    </div>
  </div>
  <hr>

  <div class="footer">
    <p>ADDED</p>
    <span>05/06/2018</span>
    <p>MODIFIED</p>
    <span>05/06/2018</span>
    <p>ACCOUNT M.</p>
    <span>Roger Rabbit</span>
    <p>OPTION</p>
    <span>One-to-One</span>
  </div>

</div>
